---
title: Christmas Time in New York City
layout: default
category: demo page
---


.col-md-1 {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 1080px;
}

body {
  background-color: #72195a
  padding: 0em;
  margin: 0em;
}

section {
  border-bottom:1px solid black;
