
.col-md-2 {
  border-left: none;
  border-bottom: none;
  border-top: none;
  border-right: 2px solid black;
  height: 700px;
}

body {
background-color: red;
}

h1 {
  color: maroon;
  margin-left: 20px;
}

li a:hover {
  background-color: #700000
  color: black;
}
