.title {
  float:right;
  font-family: 'Pacifico', cursive;
  text-align: center;
}

a.btn.btn-default {
  font-family: 'Pacifico', cursive;
}

.h1 {
  text-align: center;
}
section {
  border-bottom: 1px solid black;
}



#heading {
  text-align: center;
  font-family: 'Fajalla One', sans-serif;
  font-size: .2em;
  margin: 0em;
  padding-bottom: .2em;
}




div#section1 body {
  background-color: #ffffe5;
}
div#section1 title {
  font-family: 'Pacifico', cursive;
  text-align: center;
}
div#section1 h1{
  font-family: 'Pacifico', cursive;
  font size: 2em;
  border-style: double;
  border-radius: 0em;
  color:black;
}
div#section1 p{
  font-family: 'Poiret One', cursive;
  font-size: 20px;
}
div#section2 title {
  font-family: 'Pacifico', cursive;
  text-align: center;
}
div#section2 h1{
  font-family: 'Pacifico', cursive;
  font size: 2em;
  border-style: double;
  border-radius: 0em;
  color:black;

}
div#section2 button a{
  text-align: center;
  border-style: double;
  border-radius: 0em;
  color:black;
}

div#section2 p{
  font-family: 'Poiret One', cursive;
  font-size: 20px;
}

div#section2 ul li {
font-family: 'Poiret One', cursive;
  font-size: 20px;
}

div#section2 blockquote {
  font-family: 'Poiret One', cursive;
  font-size: 20px;
}

div#section3 title {
  font-family: 'Pacifico', cursive;
  text-align: center;
}

div#section3 h1{
  font-family: 'Pacifico', cursive;
  font size: 2em;
  border-style: double;
  border-radius: 0em;
  color:black;
}

div#section3 p {
  font-family: 'Poiret One', cursive;
  font-size: 20px;
}


div#section3 ul {
  font-family: 'Poiret One', cursive;
  font-size: 20px;
}

div#section3 blockquote {
font-family: 'Poiret One', cursive;
  font-size: 20px;
}
