<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
  <div class="container">
  <div class="row">
    <div class="col-md-2">
      <h2>
        <a href="my_page.html"> About</a>
        <a href="second_page.html"> Events </a>
        <a href="third_page.html"> Secret Spots </a>
      </h2>
    </div>
<div class="col-md-10">
  {{content}}
</div>
</div>
</div>


<!-- Add these lines to your layout file to enable the carousel -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="assets/js/bootstrap.min.js"></script>
</body>
</html>
